<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>ResumeComp</title>
</head>
<body>
  <header class="header">
    <a class="home-btn" href="#home"><img src="assets/logo_main.png"></a>
  </header>
  <section id="home" class="top">
    <div class="row h-100">
      <div class="section-left col">
        <div class="contents">
          <h2 class="pb-3">就職は「履歴書」で加速する</h2>
          <p class="px-2">
            ResumeCompはSNS等の連携により<br>
            自動で履歴書を作成するサービスです。
          </p>
        </div>
      </div>
      <div class="section-right col">
        <div class="contents px-4">
          <h1 class="pb-5 ">ResumeComp</h1>
          <%= link_to 'START', resume_create_path %>
        </div>
      </div>
    </div>
  </section>
</body>
